.header-image {
  height: 20px;
  width: 20px;
  border-radius: 90px;
}

.header-wrapper {
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: white;
}

.header-buttons {
  text-align: right;
}
